@page "/Delete/{Id}"
@using blazorsvr.Data
@inject StudentService studentService
@inject NavigationManager NavigationManager

<h2>Delete Employee</h2>
<hr />
<h3>Are you sure want to delete this?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>Id:</label>
                <label>@obj.Id</label>
            </div>
            <div class="form-group">
                <label>Student Name:</label>
                <label>@obj.StudentName</label>
            </div>
            <div class="form-group">
                <label>DOB:</label>
                <label>@obj.DOB.ToString("dd/MM/yyyy")</label>
            </div>
           
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@DeleteEmployee" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code { [Parameter]
    public string Id { get; set; }
    Data.Student obj = new Data.Student();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => studentService.GetStudentAsync(Convert.ToInt32(Id)));
    }
    protected async void DeleteEmployee()
    {
        await studentService.DeleteStudentAsync(obj);
        NavigationManager.NavigateTo("Student");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Student");
    } }